/vendor
/node_modules
/public/build
/public/storage
/public/hot
/storage/*.key
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
npm-debug.log
yarn-error.log
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.fleet
.idea
.nova
.zed
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
